.wrapper{
    width: 100%;
    height: 100vh;
   
}
.title{
    width: 100%;
    text-align: center;
    height: 80px;
    font-weight: 600;
    font-size: 2.3rem;
    color: blue;
    line-height: 80px;
}
.body{
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    display: flex;

}
.left{
    width: 30%;
    background-color: white;
}
.left-title{
    display: flex;
    height: 50px;
    background-color: pink;
    align-items: center;
}
.left-input-body{
    background-color: pink;
    width: 100%;
    height: 100%;
}

// right
.right{
    width: 70%;
}