.wrapper{
    width: 100%;
    height: 100ch;
    
    background-color: pink;
    
}
.title{
    width: 100%;
    text-align: center;
    height: 80px;
    font-weight: 600;
    font-size: 2.3rem;
    color: blue;
    line-height: 80px;
}
.body{
    background-color: #e9f7fc;
    width: 100%;
    // background-color: red;
    // height: 100vh;
    padding: 0px 10px;
    display: flex;
    border-radius: 4px;
    
}
.left{
    width: 30%;
    background-color: white;
}
.left-title{
    display: flex;
    height: 50px;
    // background-color: pink;
    align-items: center;
}
.left-input-body{
    // background-color: green;
    width: 100%;
    height: 70%;
    
    border-radius: 20px;
    margin: 10px 8px;
    border: 1px solid rgba(24,24,25,0.2);
    display: flex;
    align-items: center;
}
.left-input-icon{
    font-size: 2.0rem;
    margin: 0 8px ;
}
.left-input{
    width: 80%;
    height: 100%;
    font-size: 1.6rem;
}
.left-list-user{
    overflow-y: scroll;
    border-top: 2px solid rgba(24,24,24,0.2);
    padding: 10px 8px 0;
}
.item{
    display: flex;
    height: 78px;
    padding: 8px 0;
    // margin: 6px 0;
    background-color: #fff;
    align-items: center;
    &:hover{
        cursor: pointer;
        background-color:#f5f6f7 ;
    }

}
.item-active{
    background-color: #f5f6f7;
}
.item-avatar{
    width: 58px;
    height: 58px;
    border-radius: 50%;
}
.item-body{
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
    
}
.item-body-info{
    display: flex;
    flex-direction: column;
    flex: 1;
    // background-color: red;
    padding:0 14px 0 ;
}
.item-status{
    position: absolute;
    right: 10px;
    background-color: red;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

// right
.right{
    width: 70%;
}