.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
}
.left{
    width: 50%;
    // background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.left-body{
// background-color: pink;
width: 500px;
margin: auto;
height: 100vh;
}
.left-logo{
    padding-top: 36px;
    display: flex;
    align-items: center;
    p{
        font-weight: 500;
        font-style: italic;
    }
}
.left-logo-image{
    width: 30px;
    margin-right: 6px;
}
.left-title{
    margin: 42px 0;
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
}
.left-group{
    margin-top: 20px;
}
.div-label{
    font-weight: 600;
    font-size: 1.4rem;
}
.input{
    appearance: none;
    background-color: #f3f3f5;
    border: 1px solid #bcc0c4;
    
    border-radius: 8px;
    display: block;
    font-size: 1.6rem;
    margin-top: 8px;
    outline: none;
    padding: 10px;
    width: 100%;
}
.invalid {
    border-color: var(--primary) !important;
    color: var(--primary);
}
.right{
    width: 50%;
    background-color: red;
}