.wrapper{
    width: 320px;
    height: 450px;
    background-color: white;
    right: 20px;
    bottom: 0;
    position: fixed;
    z-index: 999;
    border-radius: 6px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: #cfd1d3 #c7cbcf transparent #e9ecef;
}
.header{
    height: 48px;width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 5px solid black;
    border-color: #cfd1d3 #c7cbcf transparent #e9ecef;
}
.header-info{
display: flex;
align-items: center;
p{
    color: rgb(5,5,5);
    font-size: 1.5rem;
    font-weight: 600;
}
}
.header-avatar{
    width: 32px;height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}