.wrapper{
    width: 320px;
    height: 450px;
    background-color: pink;
    right: 20px;
    bottom: 0;
    position: fixed;
    z-index: 999;
    border-radius: 6px;
    padding: 4px;
    display: flex;
    flex-direction: column;
}