.wrapper{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    // background-color: var(--b-color);
    align-items: center;
    min-height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    width: var(--default-layout-width);
    align-items: center;
    
}
.header-detail{
    width: 100%;
}
.direct{
    ol{
        margin: 10px 0;
        display: flex;
        list-style: none;
        li{
           
            line-height: 1;
            font-size: 14px;
            margin-right: 4px;
            color: #6c757d;
        }
        .direct-active{
            color: #0275d8;
        }
    }
}
// ìno
.header-info{
    display: flex;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 16px;
    -webkit-box-shadow: inset 0 -1px 0 0 #dee2e6;
    box-shadow: inset 0 -1px 0 0 #dee2e6;
    min-height: 57px;
    justify-content: space-between;
    align-items: flex-end;
}
.header-info-name{
    font-weight: 500;
}
.header-info-right{
    display: flex;
    align-items: center;
    p{
        color: #0168fa;
        cursor: pointer;
        font-size: 1.3rem;
    }
}
.header-info-icon{
    color: #ea9d02;
}