.wrapper{
    margin-top: 100px;
    width: 100%;
    background-color: var(--b-color);
    display: flex;
    justify-content: center;
}
.container{
    background-color: var(--bg-color);
    width: var(--default-layout-width);
    padding: 15px 20px;
    border-radius: 4px;
    border: solid 1px #e9ecef;
    background-color: #f8f9fa;
    margin-bottom: 16px;
}
