.wrapper{
    width: 100%;
    min-height: 100vh;
    background-color: var(--b-color);
}
.header{
    height: 45px;
    width: 100%;
    background-color: rgb(4, 84, 204);
    padding: 2px 6px;
    color: white;
    display: flex;
    align-items: center;
    ul{
        display: flex;
        list-style: none;
        li{
            padding: 0 12px;
            line-height: 45px;
            border: 2px solid white;
        }
    }
}