.wrapper{
    width: 100%;
    min-height: 100vh;
    background-color: var(--b-color);
}
.header{
    height: 40px;
    width: 100%;
    background-color: rgb(4, 84, 204);
    padding: 2px 6px;
    ul{
        display: flex;
        list-style: none;
        li{}
    }
}