.wrapper{
    background-color: var(--b-color);
    
}
.head-box{
    width: 100%;
    background-color: pink;
    margin-bottom: 30px;
    background-color: #fff;
    background-clip: border-box;
    -webkit-box-shadow: 0 0 3px 0 #dee2e6;
    box-shadow: 0 0 3px 0 #dee2e6;
    border-radius: 6px;
    padding: 15px;
}
.card-header{
    display: flex;
    
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 6px;
    align-items: center;
    margin: 0;
    font-size: 2.4rem;
    font-weight: 600;
   p{
    color: #6c757d;
    margin-left: 10px;
    font-size: 18px;
    line-height: 2;
    
   }
}
.list-tag{
    display: inline-block;
    vertical-align: middle;
    
    font-size: 16px;
    color: #495057;
    display: flex;
    p{
        margin-right: 10px;
    }
    ul{
        list-style: none;
        display: flex;
        li{
            font-size: inherit;
            font-weight: 400;
            line-height: normal;
            padding-bottom: 1px;
            align-items: center;
            height: 23px;
            line-height: 23px;
            font-size: 12px;
            padding: 0 8px 0 8px;
            color: #8392a5;
            border-radius: 4px;
            border: solid 1px #b4bdce;
            margin: 0 10px 6px 0;
            cursor: pointer;
        }
        }
    }
}